*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;
}
html,body{ 
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}
.App{ 
  width: 100vw;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}
.file-bar{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
::-webkit-scrollbar {
  width: 10px;
} 
::-webkit-scrollbar-track {
  background: #ececec; 
} 
::-webkit-scrollbar-thumb {
  background: #cecece; 
} 
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
::selection {
  color: #fff;
  background: #93d3cd;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
